/*settings*/
.nsc-hidden {display: none;}

.nsc-settings-page {font-family:'Noto Sans'; color:#171717;}
.nsc-settings-page-layout {padding:16px 0; min-height:580px; height:100%;}
.nsc-settings-page .nsc-wrapper {width:480px; padding:0 14px; margin:0 auto;}
.nsc-settings-wrapper-holder {
	background: #fff;
	border-radius:4px;
}
.nsc-settings-wrapper {padding:42px;}
.nsc-settings-container {
	display: none;
}
.nsc-settings-container-active {
	display: block;
}

.nsc-settings-header {padding:0 0 16px 0;}
.nsc-settings-header-title {font-size:18px; text-transform:uppercase; color:#fff; font-family:'OpenSansBold'; padding:0 16px 0 0;}
.nsc-settings-header-actions span {padding:0 0 0 16px;}
.nsc-settings-header-actions a {color:#fff;}

.nsc-settings-block {padding:0 0 42px 0;}
.nsc-settings-block:last-child {padding:0;}
.nsc-settings-block-title {font-weight:bold; text-transform:uppercase; line-height:1.3; font-size:14px; border-bottom:1px solid #f2f2f2; padding:0 0 4px 0; margin:0 0 12px 0;}

.nsc-settings-flag {padding:0 0 12px 0; margin:0 16px 0 -4px;}
.nsc-settings-flag .nsc-settings-flag-label {cursor:pointer; vertical-align:middle;}
.nsc-settings-flag input[type=checkbox],
.nsc-settings-flag input[type=radio] {margin:0 4px; display:block; width:14px; height:14px;}
.nsc-settings-flag input[type="number"] {max-width:80px; padding:2px 3px; margin:0 4px; border:1px solid #d2d2d2; border-radius:1px; display:block;}
.nsc-settings-flag-text {line-height:1.4; padding:0 4px;}
.nsc-settings-flag .nsc-icon {margin:0 4px;}

.nsc-settings-format {}
.nsc-setting-format-title {padding:0 8px 0 0; line-height:24px;}
.nsc-settings-format-block {padding:0 0 5px 0;}
.nsc-settings-format-block:last-child {padding:0;}
.nsc-setting-format-radio {margin:0 14px 0 0; cursor:pointer;}
.nsc-setting-format-radio input {margin:0; padding:0; display:block; width:14px; height:14px;}
.nsc-setting-format-radio .nsc-icon {margin:0 0 0 5px;}
.nsc-settings-quality-range {margin:0 8px;}
.nsc-settings-quality-value {height:20px; line-height:20px; border:1px solid #d2d2d2; border-radius:1px; padding:0 6px;}
.nsc-settings-quality-value-desc {
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
}
.nsc-setting-quality-hidden {display:none;}

.nsc-settings-save-as {color:rgba(21,21,21,0.5);}
.nsc-settings-save-as input {display:block; width:100%; box-sizing:border-box; border-radius:2px; border:1px solid #d2d2d2; background:#fff; padding:3px 5px; color:#000; margin:3px 0; font-size:12px;}
.nsc-settings-save-actions {padding:2px 0 0 0;}
.nsc-settings-save-actions button {
	position:relative;
	display:inline-block;
	cursor:pointer;
	background:none;
	color:rgba(21,21,21,0.7);
	border:none;
	padding:0 0 2px 0; margin:0;
	vertical-align:middle;
}
.nsc-settings-save-actions button:hover {color:#171717;}
.nsc-settings-save-actions button:before {
	content:"";
	display:block;
	position:absolute;
	left:11%; bottom:0;
	width:78%; height:1px;
	border-bottom:1px dotted rgba(21,21,21,0.7);
}
.nsc-settings-save-actions span {vertical-align:middle; display:inline-block;}

.nsc-settings-choose {padding:0 0 0 22px; font-style:italic; line-height:1.4; position:relative;}
.nsc-settings-choose-fill {position:absolute; width:100%; height:100%; left:0; top:0; z-index:10; opacity:0.5; background:#fff;}
.nsc-settings-choose-enabled .nsc-settings-choose-fill {display:none;}
.nsc-settings-choose * {vertical-align:middle;}
.nsc-settings-choose select,
.nsc-settings-choose .nsc-icon {margin:4px;}
.nsc-settings-choose select {padding:2px;}

.nsc-settings-shortcut {font-family:'OpenSansRegular'; padding:0 0 12px 0;}
.nsc-settings-shortcut:last-child {padding:0;}
.nsc-settings-shortcut-name {width:30%; min-width:40% !important; max-width:40% !important; -webkit-flex: 1 1 40% !important;}
.nsc-settings-shortcut-data {color:#5a5a5a;}
.nsc-settings-shortcut-data select {display:block; width:90px; font-size:12px; padding:2px; margin:0 0 0 5px;}

.nsc-settings-info {padding:16px 0 0 0; text-align:center; color:#fff;}
.nsc-settings-info a {color:#189fb5;}

/*tabs*/
.nsc-settings-tabs {
	border-bottom: 1px solid #D8D8D8;
	margin: 0 0 -10px 0;
}
.nsc-settings-tab {min-width:50% !important; }
.nsc-settings-tab-button {
	background: none;
	cursor: pointer;
	display: block;
	font-size: 12px;
	color: #5A5A5A;
	border: none;
	border-bottom: 2px solid #fff;
	font-weight: bold;
	width: 100%;
	text-align: center;
}
.nsc-settings-tab-button:hover {
	background:  #F2F2F2;
	border-bottom-color: #f2f2f2;
}
.nsc-settings-tab-button-wrapper {
	display: block;
	width: 100%;
	padding: 16px;
	line-height: 1.2;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.nsc-settings-tab .nsc-settings-tab-button-first {
	border-radius: 4px 0 0 0;
}
.nsc-settings-tab .nsc-settings-tab-button-last {
	border-radius: 0 4px 0 0;
}
.nsc-settings-tab-active .nsc-settings-tab-button {
	border-bottom-color: #189FB5;
}

/*watermark*/
.nsc-settings-watermark-options {padding: 0 0 6px 0;}

/*watermark main content*/
.nsc-settings-watermark-main-content {
	min-height: 56px;
	box-sizing: border-box;
	position: relative;
	z-index: 100;
}
.nsc-settings-watermark-upload,
.nsc-settings-watermark-text {
	padding: 0 0 16px 0;
}
.nsc-settings-watermark-text-option-item {padding: 0 8px 8px 0;}
.nsc-settings-watermark-text-option-title {padding: 0 8px 0 0;}
.nsc-settings-watermark-text-option-action select {max-width: 106px;}
.nsc-settings-watermark-text-area {padding: 0 0 8px 0;}
.nsc-settings-watermark-text-area textarea {
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #D2D2D2;
	border-radius: 2px;
	padding: 8px 12px;
	height: 80px;
	min-height: 80px;
	font-family:'Noto Sans';
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

.nsc-settings-watermark-colorpicker {position: relative;}
.nsc-settings-watermark-colorpicker-button {cursor: pointer;}
.nsc-settings-watermark-colorpicker-fill-shape {position: relative;}
.nsc-settings-watermark-colorpicker-fill-shape-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0,0,0, 0.3);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.nsc-settings-watermark-colorpicker-drop-holder {
	position: absolute;
	padding: 4px 0;
	top: 100%;
	left: -14px;
}
.nsc-settings-watermark-colorpicker-drop {
	background: #f2f2f2;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.18);
	border-radius: 2px;
	padding: 10px;
}

/*watermark preview*/
.nsc-settings-watermark-preview {color: rgba(23,23,23,0.50);}
.nsc-settings-watermark-preview-title {
	font-weight: bold;
	padding: 0 0 8px 0;
	color: #ddd;
}
.nsc-settings-watermark-preview-text {padding: 0 0 8px 0;}
.nsc-settings-watermark-preview-box-holder {padding: 0 0 8px 0;}
.nsc-settings-watermark-preview-box {
	width:100%;
	height: 260px;
	position: relative;
	background: #EFEFEF;
	border-radius: 2px;
}
.nsc-settings-watermark-preview-box-default-text {
	position: absolute;
	font-weight: bold;
	font-size: 24px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ccc;
}
.nsc-settings-watermark-box-item {
	border: 2px solid #D6D6D6;
	border-radius: 4px;
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60px;
	height: 60px;
}
.nsc-settings-watermark-box-item.filled {background: #D8D8D8;}
.nsc-settings-watermark-item {
	position: absolute;
	z-index: 10;
	color: #000;
	font-size: 27px;
	font-weight: bold;
	cursor: grab;
}
.nsc-settings-watermark-item:focus,
.nsc-settings-watermark-item:active {
	cursor: grabbing;
}
.nsc-settings-watermark-item img {
	display: block;
	opacity: 0.44;
}
.nsc-settings-watermark-item-active {
	border:2px solid #189FB5;
	background: #EFEFEF;
	border-radius: 4px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
	padding: 6px;
}

/*watermark quality*/
.nsc-settings-watermark-quality {color: rgba(23,23,23,0.50);}
.nsc-settings-watermark-quality .nsc-setting-quality-title {padding: 0 24px 0 0;}
.nsc-settings-watermark-quality-active {color: #171717;}

/*watermark active state*/
.nsc-settings-container-watermark-active .nsc-settings-watermark-preview,
.nsc-settings-container-watermark-active .nsc-settings-watermark-preview-title {
	color: #171717;
}

